{% block content %}
{% load i18n %}
<head>
    <meta charset="UTF-8">
    {% load static %}

    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
    <link rel="stylesheet" href="{% static 'blog/header.css' %}">

</head>
{% include "blog/header.html" %}

<h1>
    {% blocktrans with username=user.username %}
    Bienvenue sur ton dashboard, {{ username }} !
    {% endblocktrans %}
</h1>
<p>{% trans "Contenu de ton dashboard ici." %}</p>

<form action="{% url 'ajouter_article' %}" method="get" style="display:inline;">
    <button type="submit">{% trans "Créer un article" %}</button>
</form>

<h2>{% trans "Mes articles en favoris" %}</h2>
{% if bookmarks %}
<ul>
    {% for article in bookmarks %}
    <li>
        <a href="{{ article.get_absolute_url }}">{{ article.titre }}</a>
        <form action="{% url 'bookmark_article' article.slug %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" style="background:none; border:none; color:#007cba; cursor:pointer;">
                ❌ {% trans "Retirer des favoris" %}
            </button>
        </form>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>{% trans "Vous n'avez aucun article en favoris." %}</p>
{% endif %}

<h2>{% trans "Mes brouillons" %}</h2>
{% if brouillons %}
<ul>
    {% for article in brouillons %}
    <li>
        {{ article.titre }}
        <a href="{% url 'publier_article' article.id %}"
           onclick="return confirm('{% trans "Voulez-vous vraiment publier cet article ?" %}');">
        {% trans "Publier" %}
        </a>
        |
        <a href="{% url 'modifier_article' article.id %}">
            {% trans "Modifier" %}
        </a>
        |
        <a href="{% url 'supprimer_article' article.id %}"
           onclick="return confirm('{% trans "Voulez-vous vraiment supprimer cet article ?" %}');">
        {% trans "Supprimer" %}
        </a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>{% trans "Vous n'avez aucun brouillon." %}</p>
{% endif %}
{% endblock %}
