{% load i18n %}

<header>
    <div class="site-title">{% trans "Blog Django" %}</div>

    <nav>
        <ul>
            <li><a href="/">{% trans "Accueil" %}</a></li>
            <li><a href="/articles">{% trans "Articles" %}</a></li>
            <li><a href="/contact">{% trans "Contact" %}</a></li>
            <li><a href="/about">{% trans "À propos" %}</a></li>
        </ul>
    </nav>

    <div class="actions">
        <button id="modeToggle">🌙</button>
        {% get_current_language as LANGUAGE_CODE %}
        <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ request.path }}">
            <select name="language" onchange="this.form.submit()">
                <option value="fr" {% if LANGUAGE_CODE == 'fr' %}selected{% endif %}>Français</option>
                <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>English</option>
            </select>
        </form>

        {% if user.is_authenticated %}
        <span>
        <a href="{% url 'dashboard' %}">{% blocktrans %}Bonjour {{ user }} !{% endblocktrans %}</a>
    </span>
        <a href="{% url 'logout' %}">{% trans "Déconnexion" %}</a>
        {% else %}
        <a href="{% url 'login' %}" class="login-btn">{% trans "Connexion" %}</a>
        {% endif %}

    </div>
</header>
