<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    {% load static %}

    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
    <link rel="stylesheet" href="{% static 'blog/home.css' %}">
    <link rel="stylesheet" href="{% static 'blog/header.css' %}">
    <link rel="stylesheet" href="{% static 'blog/list-article.css' %}">

</head>
<body>
{% load i18n %}
{% include "blog/header.html" %}


<div class="search-container">
    <form method="GET" action="{% url 'home' %}" class="search-form">
        <div class="search-wrapper">
            <input type="text" name="q" value="{{ query|default:'' }}" placeholder="{% trans "Rechercher par titre ou auteur..." %}" class="search-input">
            <button type="submit" class="search-button">
                🔍 {% trans "Rechercher" %}
            </button>
        </div>
    </form>
</div>


{% if query or categorie_id %}
<p><strong>{{ articles|length }}</strong> article(s) trouvé(s).</p>
{% endif %}
{% include "blog/list-article.html" %}




</body>
</html>
